@{
    ViewData["Title"] = "Add Movie";
}

@model Mission06_Pickett.Models.Movie

<h1>@ViewData["Title"]</h1>
<form method="post">
    <label>Title</label><br />
    <input type="text" name="Title" maxlength="25" /><br />
    <div>
        @* <label>Category:</label>
        <input asp-for="Category" /> *@
        <input type="hidden" asp-for="MovieId" />
        <select asp-for="CategoryName">
            <option value="">Select a Category</option>
            @foreach (Category c in ViewBag.Categories)
            {
                <option value="@c.CategoryId">@c.CategoryName</option>
            }
        </select>
    </div>
    <br />
    <label asp-for="Year">Year</label><br />
    <input asp-for="Year" Required="true" type="number" min="1888" max="@DateTime.Now.Year" /> <br />
    <label>Director</label><br />
    <input type="text" name="Director" maxlength="25" /><br />
    <label>Rating</label><br />
    <select name="Rating">
        <option value="G">G</option>
        <option value="PG">PG</option>
        <option value="PG-13">PG-13</option>
        <option value="R">R</option>
    </select><br />
    <label>Edited</label><br />
    <select name="Edited">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
    </select><br />
    <label>Lent To</label><br />
    <input type="text" name="LentTo" /><br />
    <label>Notes</label><br />
    <input type="text" name="Notes" maxlength="25" /><br />
    <br />
    <label asp-for="CopiedtoPlex">Copied to Plex</label> <br />
    <input type="radio" asp-for="CopiedtoPlex" value="1" /> Yes
    <input type="radio" asp-for="CopiedtoPlex" value="0" /> No <br />
    <input type="submit" value="Add Movie" />

</form>


